/* Telas Grandes */
@media ( min-width : 768px) {
	.panel-default {
		margin-left: 10px;
		margin-right: 10px;
	}
	.alert {
		margin-left: 10px;
		margin-right: 10px;
	}
}

.ajuste-painel {
	margin-top: 10px;
}

.ajuste-navbar {
	border-radius: 0px;
	margin: 0px;
	min-height: 155px;
	position: relative;
	background-image: url('../images/fundo.png');
	background-size: 100%;
}

.navbar-header {
	padding-top: 12px;
}

.aal-link-panel {
	float: right;
	padding: 0px;
}

.aal-title-panel {
	float: left;
	padding-top: 2px;
}

.ajuste-cadastro {
	margin: 5px;
}

.ajuste {
	padding: 0px;
	position: absolute;
	left: 5%;
	margin-bottom: 120px;
}

.conteudo-principal {
	padding-top: 0px;
}

li .active {
	background-color: blue;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus,
	.navbar-inverse .navbar-nav>.active>a:hover {
	color: #fff;
	background-color: #0000ff;
	border-radius: 10px;
}

.form-head-sigin {
	margin: 5xp;
}

.maxsize {
	max-width: 400px;
}

.fundo-verde {
	padding: 10px;
	background: #228B22; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#228B22, #00FF7F);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#228B22, #00FF7F);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#228B22, #00FF7F);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#228B22, #00FF7F);
	/* Standard syntax (must be last) */
}

.ajuste-menus {
	position: absolute;
	bottom: 0;
	right: 0;
}

.ajuste-menus-cursos {
	position: absolute;
	bottom: 0;
}

.menus-bar {
	background-color: #009BFF;
	border-radius: 5px;
}

.menu-options {
	background: #009BFF;
}

.menu-options>ul {
	list-style-type: none;
	margin: 0;
	margin-left: 220px;
	padding: 0;
	overflow: hidden;
}

.menu-options>ul>li {
	float: left;
	/* 	border-right: 1px solid #ffffff; */
	/* 	border-bottom: 2px solid #ffffff; */
	/* 	border-top: 2px solid #ffffff;	 */
}

.menu-options>ul>li
	:last-child {
	/* 	border-right: 2px solid #ffffff; */
	
}

.menu-options>ul>li:first-child {
	/* border-left: 2px solid #ffffff; */
	
}

.menu-options>ul>li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: #009BFF;
}

.menu-options>ul>li a:hover {
	background-color: #111;
}

.curso {
	width: 100px;
	height: 100px;
}

.item-curso {
	float: left;
}

.item-curso h3 {
	margin-left: 100px;
}

.item-curso h4 {
	margin-left: 100px;
}

.item-curso>ul>li>ul>li:LAST-CHILD {
	float: none;
}

.list-curso {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #009BFF;
	display: table;
	width: 99%;
	margin: 5px;
	background-color: #ffffff;
}

.titulo-cursos h2 {
	background-color: #ffffff;
	padding-left: 30px;
	padding-bottom: 20px;
	padding-top: 20px;
	color: #004080;
	display: table;
	width: 90%;
	border-bottom: 3px solid #aaaaaa;
}

.titulo-cursos h3 {
	/* 	background-color: #009BFF; */
	padding-left: 30px;
	padding-bottom: 20px;
	padding-top: 20px;
	color: #ecf5ff;
	display: table;
	width: 100%;
	margin: 0px;
}

.titulo-cursos {
	margin-top: 0px;
	margin-bottom: 10px;
	background-color: #009BFF;
}

.lista-atualizacao h3 {
	background-color: #ffffff;
	padding-left: 30px;
	padding-bottom: 20px;
	padding-top: 20px;
	color: #004080;
	display: table;
	width: 90%;
	border-bottom: 3px solid #aaaaaa;
}

body {
	background-color: #e6e6e6;
}


.titulo-estudo h4 {
	margin-left: 5px;
	padding: 5px;
	display: inline-block;
	background: #484848;
	color: #ffffff;
	border: 1px solid #000000;
}

.titulo-estudo {
	background: #009BFF;
}

.item-completo {
	margin: 5px;
	display: table;
	width: 90%;
	border: 2px solid #000000;
}

.ajuste-tabela {
	
}

.atualizacao {
	margin: 5px;
	position: relative;
	left: 5%;
	background: #ffffff;
	width: 90%;
	border: 1px solid #000000;
}

.fixar {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 5;
}

.midia-view {
	/*    position: relative; */
	height: 220px;
	background-color: #000000;
	left: 20%;
}

.midia-view>ul>li {
	left: 20%;
	padding: 40px;
	position: absolute;
	display: block;
}

.seletor {
	padding: 0px;
	height: 25px;
	background-color: #009BFF;
	border-bottom: 1px solid #101010;
	border-top: 1px solid #f0f0f0;
}

.seletor>ul>li {
	display: block;
	float: left;
	margin: 1px;
}

.seletor>ul {
	position: absolute;
	left: 50%;
	margin: 0px;
	margin-left: -110px;
}

.conteudo-espaco {
	position: relative;
	left: 5%;
}

.video-position {
	position: relative;
	left: 30%;
}

.midia-size {
	width: 687px;
	height: 164px;
}

.image-position {
	margin-top: 10px;
	position: relative;
	float: right;
}

.lista-video{
	border: 1px;
}

