<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

</head>



<div class="container">
	<div class="rodape">

		<ul class="item">
			<li><span>FlipFlop Class</span>
				<ul>
					<li><a href="/sobre-o-site/">Sobre o site</a></li>
					<li><a href="/consultoria/">Consultoria</a></li>
					<li><a href="/conteudo/">Conteúdo do site</a></li>

				</ul></li>

			<li><span>Cursos</span>
				<ul>
					<li><a href="/android/">Android</a></li>
					<li><a href="/java/">Java</a></li>
					<li><a href="/arquitetura-de-dados/">Arquitetura de Dados</a></li>
				</ul></li>

			<li><span>Contato</span>
				<ul>
					<li>flipflopclass.dev@gmail.com</li>

				</ul></li>
		</ul>



	</div>


</div>



</html>